.text-warning {
    --bs-text-opacity: 1;
    color: rgb(29 29 26) !important;
}

.text-info {
    --bs-text-opacity: 1;
    color: rgb(29 32 32) !important;
}

.text-success {
    --bs-text-opacity: 1;
    color: rgb(11 13 12) !important;
}

